@import "variables";

.image-comparison {
    padding-top: 43px;
}

.image-comparison__frame {
	position: relative;
	display: inline-block;
	line-height: 0;
	cursor: ew-resize;
}

.image-comparison__frame img {
	user-select: none;
	pointer-events: none;
}

.image-comparison__frame > img {
	display: none;
}

.image-comparison__frame > img.image-comparison__object {
	display: block;
}

.image-comparison__divider {
	position: absolute;
	left: 50%;
	top: -10px;
	bottom: 0;
	background: #000;
	width: 1px;
}

.image-comparison__divider:before {
	content: '';
	display: block;
	background: #000;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	position: absolute;
	top: -17px;
	left: -8px;
}

.image-comparison__compare {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	max-width: 100%;
	overflow: hidden;
}

.image-comparison__compare img {
	height: 100%;
	max-width: 100000px;
}

.image-comparison__title {
	position: relative;
}

.image-comparison__title .image-comparison__switcher {
	position: absolute;
	left: 100%;
	top: -2.5em;
}

.image-comparison__switcher {
	margin: 0 0 0 3em;
	padding: 0;
	list-style: none;
}

.image-comparison__switcher li {
	margin: 0.6em 0 0;
	padding: 0;
	color: #000;
}

.image-comparison__switcher li span {
	border-bottom: 1px dashed #999;
}

.image-comparison__switcher li.image-comparison__switcher--active span {
	color: $red;
	border-bottom: 1px dashed #fff;
}