<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700i,900|Oswald:500&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<%- yield %>
<script src="js/image-comparison.js"></script>
</body>
</html>