header
    nav
        img(src="img/logo.svg", alt="")
        a(href="") Кто такие дальтоники
        a(href="") Советы для дизайнеров
        a(href="") Проверка интерфейса
article
    header.group
        .col.col-2
            h2 Как видят <br/> интерфейс<br/> <span class='accent'>дальтоники</span>
        .col.col-2
            img(src="img/apples@2x.png", alt="Красное, желтое и зелёное яблоки, как их видят обычные люди и дальтоники")

    .group
        aside.col.col-1.factoid
            p <strong>8%</strong> населения планеты — дальтоники
        main.col.col-2
            p Дальтоники могут не заметить важные элементы интерфейса, такие как кнопки «принять» и «отклонить», линии на схеме метро, пробки в навигаторе.
            p Если учитывать эти особенности в дизайне, можно упростить жизнь пользователей и сделать интерфейс полезней.

article
    h2 Цвета <br/> навигаторов <br/> и карт
    h3 Эксперимент Ordnance Survey
    .group
        .col.col-2
            h4 Цвета карт плохо различаются
            p Возможность четко распознавать карты —  это то, что мы считаем само собой разумеющимся.
            p Дальтоники видят цвета карт практически неотличими друг от друга. Но об этой проблеме часто забывают или пропускают, во время разработки карт.
        .col.col-2
            img(src="img/navigator-1-orig@2x.png", alt="")
    .group
        .col.col-2
            h4 Первое решение — поменять цвета
            p Британские исследователи Ordnance Survey делали поиск цветового решения для карт. Вместо того, чтобы создавать отдельные цветовые схемы для лиц с различными формами дальтонизма, они работали над цветовой палитрой, которая будет работать для всех.
        .col.col-2
            img(src="img/navigator-2-orig@2x.png", alt="")
    .group
        .col.col-2 &nbsp;
        .col.col-2
            h4 Незнакомые цвета
            .group
                .col.col-2
                    p Не смотря на позитивную реакцию дальтоников к оптимизированным версиям цвета карт, возникла проблема восприятия из-за непривычного цвета.
                .col.col-2
                    p Пользователи не привыкли к новым изображениям объектов, поэтому путались и были в смятении от новых карт, выбранных на основе исследования.
    .group
        .col.col-1
            h4 Лучшее решение, когда  изменения незаметны
            p После двух лет исследований и разработок агентство усовершенствовало цветовую палитру, которая работает и не сильно меняет восприятие.
        .col.col-3
            img(src="img/london-1-orig@2x.png", alt="")
            img(src="img/london-2-orig@2x.png", alt="")
    blockquote
        p «Мы гордимся прогрессом, достигнутым в разработке единой цветовой палитры, которая требует новых исследований и понимания потребностей пользователей. Наши карты станут более доступными и простыми для восприятия.
        p Мы надеемся, что это вдохновит других людей задуматься о дальтониках в своих проектах»
        cite Ordnance Survey
artice
    h2 Интерфейсы <br/> сайтов <br/> и приложений

    h3 Почему социальные сети синие
    .group
        .col.col-2
            h4 Проблема звонока iO S
            p Как часто вы держите в руке мобильный телефон? Для обычных людей красный цвет означает отмену, а зеленый согласие, принятие вызова. Для большинства дальтоников эти цвета равнозначны. Иногда нам поступают неожиданные звонки, или телефон звонит очень долго, пока мы ищем его в сумке или бежим за ним в соседнюю комнату. Даже в спокойной ситуации, мы интуитивно жмем на зеленую кнопку ответа. Дальтонику же придется подумать, задержать взгляд на несколько секунд и даже это не спасет от случайного нажатия на «красную» кнопку отмены.
    .group
        .col.col-2
            h4 Решение приложения Telegram
            p Разработчики мессенджера Телеграм решили проблему для меньшинства своих пользователей с дальтонизмом, при этом, сохранив привычный вид для всех пользователей. «Опасная» кнопка отмены осталась красной, а вот зеленую поменяли на синюю, отлично различимую почти всеми дальтониками.
            p Интерфейсы социальных сетей Facebook и VK неспроста выполнены в оттенках синего, они ориентированы на разную аудиторию. Люди с ограниченным цветовосприятием не видят множества цветов, но хорошо различают синий цвет и его оттенки.
            p Это не значит, что все интерфесы нужно делать синими, но такое решение работает.

    h3 Штриховка как решение
    .group
        .col.col-2
            h4 Лейблы задач Trello
            p Trello, приложение-органайзер, предлагает для сортировки задач использовать разноцветные лейблы. Но дальтоники видят три оттенка коричневого, желтый и два оттенка голубого цвета. Когда лейблы разбросаны по всему файлу, понять разницу в оттенках затруднительно.
        .col.col-2
            h4 Штриховка в режиме для дальтоников
            p Разработчики Trello предусмотрели специальный режим для дальтоников, котоый позволяет пользователю быстро различать лейблы ориентируясь не на цвет, а на контрастность узора. Такое решение выглядит непривычно, но визуально, возможно, быстрее других помогает распознать лейблы.

    h3 Цвет можно прочитать
    h4 Купить футболку нужного цвета
    .group
        .col.col-2
            p 44% россиян совершают покупки онлайн. После примерки можно отказаться от товара, если не подошел размер или вещь плохо села. Проблема дальтоников в том, что они могут ошибиться с цветом, даже не подозревая об этом. И на примерке тоже все будет отлично. Только спустя время он узнает, что на нем не синяя футболка, а фиолетовая, или еще хуже — розовая.
        .col.col-2
            p Как бы это не казалось утопично, ведь в обычном магазине дальтоник тоже может ошибиться с цветом, исправить эту ошибку очень просто. Нужно добавить в описание товара цвет. В оффлайн-магазине цвет можно прописать на ценнике.
    blockquote
        p Добавить в описание товара цвет. В оффлайн-магазине цвет можно прописать на ценнике.

article
    h2 Световые <br/> индикаторы
    h3 Все оттенки синего
    .group
        .col.col-2
            h4 Когда горит нижний желтый
            p С дальтонизмом разрешено водить автомобиль. Но как они справляются со светофором? Для людей с протанопией красный, зеленый и желный цвета выглядят одинаково желтыми. Поэтому люди ориентируются по расположению горящего сигнала. Сверху красный, а снизу — зеленый. Но такая считываемость знака воспринимается сложнее, чем просто посмотреть на цвет, который видно издалека.
    .group
        .col.col-2
            h4 Японский синий светофор
            p В 1973 году правительство Японии приняло решение, что все светофоры должны иметь самый возможный синий оттенок зеленого цвета — все еще технически зеленый, но заметно синий. Так дальтоникам ориентироваться гораздо легче, интуитивно они могут распознать синий оттенок и знают, что на него движение разрешено.

article

    .group
        .col.col-1 &nbsp;
        .col.col-1
            h2 Тест: <small>каково жить без знания цвета</small>
        .col.col-1
            p Пройдите тест и узнайте, как бы вы справлялись с повседневными делами не зная какие цвета вас окружают .

